.nav{
    display: flex;
    background-color: brown;
    align-items: center;
}

.nav .logo{
    margin: 10px;
}
.nav .logo p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.navCart{
    display: flex;
    background-color: black;
    border-radius: 30px;
    height: 40px;
    width: 210px;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
}
.navCart p{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 9px;
}
.cartItem{
    display: flex;
    justify-content: center;
    background-color: brown;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
}
.cartItem p {
    color: white;
    margin: 4px;
}
.fa .fa-regular{
    color: white;
}